version: "3.6"

# Should combined with docker-compose-slim.yaml
services:
    prometheus: # collecting opa-bundle and other metrics
        volumes:
            - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
            - ./prometheus/rules/:/etc/prometheus/rules/
    grafana: # GUI of prometheus
        depends_on:
            - prometheus
        image: grafana/grafana
        container_name: grafana
        hostname: grafana
        restart: always
        ports:
            - "3000:3000"
        networks:
            - monitor

    # some addition config
    node-exporter: # collecting host hardware and operating system data
        image: quay.io/prometheus/node-exporter
        container_name: node-exporter
        hostname: node-exporter
        restart: always
        ports:
            - "9100:9100"
        networks:
            - monitor
    cadvisor: # collecting container data
        image: google/cadvisor:latest
        container_name: cadvisor
        hostname: cadvisor
        restart: always
        privileged: true #https://github.com/google/cadvisor/issues/2150
        volumes:
            - /:/rootfs:ro
            - /var/run:/var/run:rw
            - /sys:/sys:ro
            - /var/lib/docker/:/var/lib/docker:ro
        ports:
            - "8080:8080"
        networks:
            - monitor
    alertmanager: # Responsible for the alarm
        image: prom/alertmanager
        container_name: alertmanager
        hostname: alertmanager
        restart: always
        volumes:
            - ./prometheus/alertmanager.yml:/etc/alertmanager/alertmanager.yml
        ports:
            - "9093:9093"
        networks:
            - monitor
