name: opa-koans
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Shell Lint
        run: sh scripts/shellLint.sh
      - name: Yaml Lint
        run: sh scripts/yamlLint.sh
      - name: Rego Lint
        run: sh scripts/regoLint.sh
      - name: Rego Test
        run: sh scripts/regoTest.sh
      - name: Bundle Benchmark
        run: sh scripts/benchstat.sh
      - name: Upload Benchmark stat file
        uses: actions/upload-artifact@v1
        with:
          name: bench.txt
          path: bundle/bench.txt
      - name: Bundle Verify
        run: sh scripts/bundleVerify.sh
